.App {
  font-family: 'Raleway', sans-serif;
}

.card-img {
  max-height: 350px;
  max-width: 300px;
  margin: auto;
}

setBackground {
  background-color: #41ebf4;
}

.welcome-page {
  text-align: center;
  height: 95vh;
  background-image: linear-gradient(to right, #41ebf4, #425cf4);
  position: relative;
}

.welcome-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: inFromRight 2s ease-out;
}

@keyframes inFromRight {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}
